<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atguigu.spzx.manager.mapper.SysRoleMenuMapper">


    <insert id="doAssign">
        <foreach collection="dto.menuIdList" item="item" separator="," open="insert into sys_role_menu(role_id,menu_id,is_half) values" close=";">
            (#{dto.roleId},#{item.id},#{item.isHalf})
        </foreach>
    </insert>
</mapper>